.padding-none {
    padding: 0;
}

.base-background-color {
    background-color: #f7f8fa;
}

.pd-t-50 {
    padding-top: 50px;
}

.pd-b-90 {
    padding-bottom: 90px;
}

.pd-b-50 {
    padding-bottom: 50px;
}

.m-bt-16 {
    margin-bottom: 16px;
}

.pd-x-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.m-t-17 {
    margin-top: 17px;
}


.carousel-inner{
    width:100%;
    max-height: 600px !important;
}

section {
    padding: 0 0;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

section .container {
    position: relative;
    z-index:20;
    padding: 125px 15px;
}

section .heading {
    text-align: center;
    text-transform: uppercase;
}


section .headul {
    margin: 50px auto 42px auto;
}

section .headul:after {
    margin: 0 auto;
    content: " ";
    width: 60px;
    height: 6px;
    background-color: #03a9f4;
    display: block;
}

section .headul.text-left:after {
    margin:0;
}

section .subheading {
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    padding: 0px 50px 100px 50px;
    max-width: 1000px;
    margin: 0 auto;
}

section .subheading.text-left {
    text-align: left;
    padding-left: 0px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px 0;
    font-weight: 700;
    color: #212121;
}

h1 {
    font-size: 60px;
    line-height: 80px;
}

.bg-black {
    background-color: #212121;
}

.animated.delay2 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.animated.delay6 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.visiblethis {
    opacity: 1;
}

form label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
}

form input {
    background-color: #e6e6e6;
    color: #757575;
    border: 0px solid rgba(255, 255, 255, 0.5);
    height: 50px;
    padding: 10px 15px;
    margin-bottom: 40px;
    vertical-align: top;
}

form textarea {
    background-color: #e6e6e6;
    color: #757575;
    border: 0px solid rgba(255, 255, 255, 0.5);
    height: 150px;
    padding: 10px 15px;
    margin-bottom: 40px;
    vertical-align: top;
}

form input, form textarea {
    background-position: 97% 15px;
    width: 100%;
}

.btn, a, .transition, .animated {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    -moz-transition-timing-function: cubic-bezier(.4, 0, .5, 1);
    transition-timing-function: cubic-bezier(.4, 0, .5, 1);
}

input:active,
input:focus,
textarea:active,
textarea:focus {
    outline: none;
    border: 0px solid #03a9f4;
    background-color: #eeeeee;
}

.animated.delay1 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.inviewport, .hiddenthis {
    opacity: 0;
}
